<!--header-bottom-->
<div class="header-bottom">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="mainmenu pull-left">
					<ul class="nav navbar-nav collapse navbar-collapse">
						<li><a ui-sref='shop.home' class="active">Home</a></li>
						<li class="dropdown"><a href="#">Shop<i
								class="fa fa-angle-down"></i></a>
							<ul role="menu" class="sub-menu">								
								<li><a href="html/checkout.html">Checkout</a></li>
								<li><a href="html/cart.html">Cart</a></li>	
								<li><a ui-sref='shop.register'>Register</a></li>																							
							</ul>
						</li>						
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="search_box pull-right">
					<input type="text" placeholder="Search" />
				</div>
			</div>
		</div>
	</div>
</div>
<!--/header-bottom-->
</header>
<!--/header-->
