<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info">
							<label><input type="checkbox" ng-model="shippingToBill" ng-init="shippingToBill=true" ng-checked="true"> Shipping to bill address</label>
							<input type="submit" id="submit" value="Continue"  ng-click="submitForm(currentUser.billingAddress,shippingToBill)" class="btn btn-primary">
						</div>
					</div>
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Bill To</p>
							<div class="form-one">
								<form>
									<input type="text" name="company" placeholder="Company Name" ng-model="currentUser.billingAddress.company">
									<input type="text" name="firstname" placeholder="First Name *" ng-model="currentUser.billingAddress.firstname">
									<input type="text" name="lastname" placeholder="Last Name *" ng-model="currentUser.billingAddress.lastname">
									<input type="text" name="address1" placeholder="Address *" ng-model="currentUser.billingAddress.address1">
									<input type="text" name="address2" placeholder="Address 2 *" ng-model="currentUser.billingAddress.address2">
									<input type="text" name="streetNumber" placeholder="Street Number *" ng-model="currentUser.billingAddress.streetNumber">
								</form>
							</div>
							<div class="form-two">
								<form>
									<input type="text" name="city" placeholder="City *" ng-model="currentUser.billingAddress.city">
									<input type="text" name="zipcode" placeholder="Zip / Postal Code *" ng-model="currentUser.billingAddress.zipcode">
									<input type="text" name="email" placeholder="Email *" ng-model="currentUser.billingAddress.email">
									<input type="text" name="phone" placeholder="Phone *" ng-model="currentUser.billingAddress.phone">
									<input type="text" name="mobile" placeholder="Mobile Phone" ng-model="currentUser.billingAddress.mobile">
									<input type="text" name="fax" placeholder="Fax" ng-model="currentUser.billingAddress.fax">
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Shipping Order</p>
							<textarea name="message" name="field1" placeholder="Notes about your order, Special Notes for Delivery" ng-model="currentUser.billingAddress.field1" rows="16"></textarea>
						</div>	
					</div>					
				</div>
			</div>