<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<div class="panel panel-default" ng-repeat="category in categoryData">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#{{category.id}}"> 
					<span class="badge pull-right">
					<i class="fa fa-plus" ng-click="categoryController.getChild(category.id)"></i></span> 
					{{category.code}}
					</a>
				</h4>
			</div>
			<div id="{{category.id}}" class="panel-collapse collapse" >
				<div class="panel-body">
					<ul data-sub-category >
						<li ng-repeat="subCat in subCategory"><a href="#">{{subCat.code}}</a></li>						
					</ul>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">Kids</a>
				</h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">Fashion</a>
				</h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">Households</a>
				</h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">Interiors</a>
				</h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">Clothing</a>
				</h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">Bags</a>
				</h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">Shoes</a>
				</h4>
			</div>
		</div>
	</div>
	<!--/category-products-->


	