<!--header-middle-->
<div class="header-middle">
	<div class="container">
		<div class="row" ng-controller="loginController">
			<div class="col-sm-4">
				<div class="logo pull-left">
					<div welcome-user-directive></div>				
				</div>				
			</div>
			<div class="col-sm-8">
				<div class="shop-menu pull-right">
					<ul class="nav navbar-nav">
						<li class="dropdown" account-menu-directive></li>						
						<li><a href="html/checkout.html"><i	class="fa fa-crosshairs"></i> Checkout</a></li>
						<li><a href="html/cart.html"><i	class="fa fa-shopping-cart"></i> Cart</a></li>
						<li action-user-directive></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/header-middle-->