<div class="container text-center">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-orderConfirm">
				<h1>
					<b>Order Confirmed Successfully!</b>
				</h1>
				<i class="fa fa-check"></i>
				<p>your order was confirmed shortly receive an email list. Thank you.</p>				
			</div>
			<div>
			<h2 class="title text-center">Order Summary</h2>
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="description">Product code</td>
								<td class="quantity">Quantity</td>
								<td class="price">Price</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in order.orderItems">
								<td class="cart_description">
									<h4>
										<p>{{item.product.code}}</p>
									</h4>
								</td>
								<td class="cart_quantity">
									<h4>
										<p>{{item.quantity}}</p>
									</h4>
								</td>
								<td class="cart_price">
									<h4>
										<p>&euro;{{item.skuNetPrice}}</p>
									</h4>
								</td>
							</tr>
						</tbody>
					</table>					
			</div>
			<div class="shopper-informations">
				<div class="col-sm-6 clearfix">
						<div class="bill-to">
							<p>Bill To</p>
							<div class="form-one col-sm-3 clearfix">
									<div class="form-description">Company Name</div>
									<div class="form-description">First Name</div>
									<div class="form-description">Last Name</div>
									<div class="form-description">Address</div>
									<div class="form-description">Address 2</div>
									<div class="form-description">Street Number</div>
									<div class="form-description">City</div>
									<div class="form-description">Zip / Postal Code</div>
									<div class="form-description">Email</div>
									<div class="form-description">Phone</div>
									<div class="form-description">Mobile Phone</div>
									<div class="form-description">Fax</div>
							</div>
							<div class="form-one col-sm-3 clearfix">
								<form>
									<input type="text" name="company" ng-model="order.billingAddress.company" readonly>
									<input type="text" name="firstname" ng-model="order.billingAddress.firstname" readonly>
									<input type="text" name="lastname" ng-model="order.billingAddress.lastname" readonly>
									<input type="text" name="address1" ng-model="order.billingAddress.address1" readonly>
									<input type="text" name="address2" ng-model="order.billingAddress.address2" readonly>
									<input type="text" name="streetNumber" ng-model="order.billingAddress.streetNumber" readonly>
									<input type="text" name="city" ng-model="order.billingAddress.city" readonly>
									<input type="text" name="zipcode" ng-model="order.billingAddress.zipcode" readonly>
									<input type="text" name="email" ng-model="order.billingAddress.email" readonly>
									<input type="text" name="phone" ng-model="order.billingAddress.phone" readonly>
									<input type="text" name="mobile" ng-model="order.billingAddress.mobile" readonly>
									<input type="text" name="fax" ng-model="order.billingAddress.fax" readonly>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6 clearfix">
						<div class="bill-to">
							<p>Ship To</p>
							<div class="form-one col-sm-3 clearfix">
									<div class="form-description">Company Name</div>
									<div class="form-description">First Name</div>
									<div class="form-description">Last Name</div>
									<div class="form-description">Address</div>
									<div class="form-description">Address 2</div>
									<div class="form-description">Street Number</div>
									<div class="form-description">City</div>
									<div class="form-description">Zip / Postal Code</div>
									<div class="form-description">Email</div>
									<div class="form-description">Phone</div>
									<div class="form-description">Mobile Phone</div>
									<div class="form-description">Fax</div>
							</div>
							<div class="form-one col-sm-3 clearfix">
								<form>
									<input type="text" name="company" ng-model="order.shippingAddress.company" readonly>
									<input type="text" name="firstname" ng-model="order.shippingAddress.firstname" readonly>
									<input type="text" name="lastname" ng-model="order.shippingAddress.lastname" readonly>
									<input type="text" name="address1" ng-model="order.shippingAddress.address1" readonly>
									<input type="text" name="address2" ng-model="order.shippingAddress.address2" readonly>
									<input type="text" name="streetNumber" ng-model="order.shippingAddress.streetNumber" readonly>
									<input type="text" name="city" ng-model="order.shippingAddress.city" readonly>
									<input type="text" name="zipcode" ng-model="order.shippingAddress.zipcode" readonly>
									<input type="text" name="email" ng-model="order.shippingAddress.email" readonly>
									<input type="text" name="phone" ng-model="order.shippingAddress.phone" readonly>
									<input type="text" name="mobile" ng-model="order.shippingAddress.mobile" readonly>
									<input type="text" name="fax" ng-model="order.shippingAddress.fax" readonly>
								</form>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
