<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Serpics Admin</display-name>
	
	<context-param>
	<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>

<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!-- 	</listener> -->
	<listener>
		<listener-class>
			com.serpics.system.web.ContextLoaderListener
		</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		WEB-INF/config/admin.xml,
		WEB-INF/config/security.xml,
		</param-value>
	</context-param>
	<listener>
		<listener-class>com.serpics.system.web.WebappInitializeListener</listener-class>
	</listener>	
	<listener>
		<listener-class>com.serpics.system.web.SessionListener</listener-class>
	</listener>
	
<!--  Serpics filters -->	
	<filter>
		<filter-name>commerceSessionFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>commerceSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>
                  org.springframework.web.filter.DelegatingFilterProxy
                </filter-class>
	</filter>
 
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	

<!-- <filter> -->
<!--     <filter-name>oemInViewFilter</filter-name> -->
<!--     <filter-class> -->
<!--         org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter -->
<!--     </filter-class> -->
<!--     <init-param> -->
<!--         <param-name>entityManagerFactoryBeanName</param-name> -->
<!--         <param-value>entityManagerFactory</param-value> -->
        
<!--     </init-param> -->
<!--     <init-param> -->
<!--     	<param-name>persistenceUnitName</param-name> -->
<!--         <param-value>serpics</param-value> -->
<!--     </init-param> -->
<!-- </filter> -->

<!-- <filter-mapping> -->
<!--     <filter-name>oemInViewFilter</filter-name> -->
<!--     <url-pattern>/*</url-pattern> -->
<!-- </filter-mapping> -->

<!-- Spring MVC -->
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>
                    org.springframework.web.servlet.DispatcherServlet
                </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
<!--  end MVC		 -->
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>Test Application</servlet-name> -->
<!-- 		<servlet-class>ru.xpoft.vaadin.SpringVaadinServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>beanName</param-name> -->
<!-- 			<param-value>serpicsStartApp</param-value> -->
<!-- 		</init-param> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>Test Application</servlet-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</servlet-mapping> -->
	<display-name>admin</display-name>

</web-app>