<div class="shopper-informations" ng-init="getPaymethodList()">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Choose a Payment Method</p>
							<div style="width: 100%">
								<input ng-show="cart.paymethod" type="submit" id="submit" value="Continue" ng-click="addPaymethod(payMethod)" class="btn btn-primary">
								<input ng-hide="cart.paymethod" type="submit" value="Continue" class="btn btn-primary" disabled>
								<input type="submit" id="submit" value="Continue without Payment Method" ui-sref="complete" class="btn btn-primary">
							</div>
						</div>
					</div>
					<div class="col-sm-8 clearfix">
						<div class="shopper-info">
							<p style="margin-bottom: 33px;">Payment Method List</p>
							<div class="total_area">
								<ul>
									<a class="check_out" href="">Payment method 1 name</a>
									<li style="margin-bottom: 33px;">Payment method 1 long description</li>
									
									<a class="check_out" href="">Payment method 2 name</a>
									<li>Payment method 2 long description</li>
									
									<div ng-repeat="paymethod in paymethodList">
										<a class="check_out" ng-click="addPaymethod(paymethod.id)">{{paymethod.name}}</a>
										<li>{{paymethod.description}}</li>
									</div>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
</div>