<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:aop="http://www.springframework.org/schema/aop" 
 xmlns:tx="http://www.springframework.org/schema/tx" 
 xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

<!-- Core System -->	
<!-- 
	<bean id="localeFactory" class="com.serpics.membership.persistence.dao.jpa.LocaleFactoryImpl">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
-->	
<!-- Membership -->
	<bean id="memberFactory" class="com.serpics.membership.persistence.dao.jpa.MemberFactoryImpl">
		<!-- <property name="entityManagerFactory" ref="entityManagerFactory" /> -->
	</bean>

<!-- 
	<bean id="orderFactory" class="com.serpics.commerce.persistence.dao.jpa.OrderFactoryImpl">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean id="catalogFactory" class="com.serpics.catalog.persistence.dao.jpa.CatalogFactoryImpl">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
-->	
</beans>