<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:cxf="http://cxf.apache.org/core"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">


 <bean id="commerceFilter" class="com.serpics.system.web.CommerceRequestFilter"/>
 
  <import resource="classpath:META-INF/cxf/cxf.xml" />

  <context:property-placeholder/>
  <context:annotation-config/>
  <bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer"/>
<!--   <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/> -->

   <bean name="mapper" class="com.serpics.jaxrs.JaxbMapper"/>
   
      
     <alias name="defaultAddressDataRequestPopulator" alias="addressDataRequestPopulator"/>
  	 <bean name="defaultAddressDataRequestPopulator" class="com.serpics.jaxrs.data.converter.AddressDataRequestConverter">
    </bean>
    
  	<alias name="defaultAddressDataRequestConverterConverter" alias="addressDataRequestConverter"/>
  	<bean name="defaultAddressDataRequestConverterConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.membership.facade.data.AddressData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="addressDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
   
     <alias name="defaultBrandDataRequestPopulator" alias="brandDataRequestPopulator"/>
  	 <bean name="defaultBrandDataRequestPopulator" class="com.serpics.jaxrs.data.converter.BrandDataRequestConverter">
    </bean>
    
  	<alias name="defaultBrandDataRequestConverter" alias="brandDataRequestConverter"/>
  	<bean name="defaultBrandDataRequestConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.catalog.facade.data.BrandData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="brandDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
  	
  	<alias name="defaultCartDataRequestPopulator" alias="cartDataRequestPopulator"/>
  	<bean name="defaultCartDataRequestPopulator" class="com.serpics.jaxrs.data.converter.CartDataRequestConverter">
    </bean>
  	<alias name="defaultCartDataRequestConverter" alias="cartDataRequestConverter"/>
  	<bean name="defaultCartDataRequestConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.commerce.facade.data.CartData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="cartDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
  	
  	  	<alias name="defaultCartItemDataRequestPopulator" alias="cartItemDataRequestPopulator"/>
  	<bean name="defaultCartItemDataRequestPopulator" class="com.serpics.jaxrs.data.converter.CartItemDataRequestConverter">
    </bean>
    
  	<alias name="defaultCartItemDataRequestConverter" alias="cartItemDataRequestConverter"/>
  	<bean name="defaultCartItemDataRequestConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.commerce.facade.data.CartItemData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="cartItemDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
  		
  	<alias name="defaultCategoryDataRequestPopulator" alias="categoryDataRequestPopulator"/>
  	<bean name="defaultCategoryDataRequestPopulator" class="com.serpics.jaxrs.data.converter.CategoryDataRequestConverter">
    </bean>
    
  	<alias name="defaultCategoryDataRequestConverter" alias="categoryDataRequestConverter"/>
  	<bean name="defaultCategoryDataRequestConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.catalog.facade.data.CategoryData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="categoryDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
  	
  	<alias name="defaultOrderDataRequestPopulator" alias="orderDataRequestPopulator"/>
  	<bean name="defaultOrderDataRequestPopulator" class="com.serpics.jaxrs.data.converter.OrderDataRequestConverter">
    </bean>
  	<alias name="defaultOrderDataRequestConverter" alias="orderDataRequestConverter"/>
  	<bean name="defaultOrderDataRequestConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.commerce.facade.data.OrderData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="orderDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
  	
  	<alias name="defaultOrderPaymentDataRequestPopulator" alias="orderPaymentDataRequestPopulator"/>
  	<bean name="defaultOrderPaymentDataRequestPopulator" class="com.serpics.jaxrs.data.converter.OrderPaymentDataRequestConverter">
    </bean>
    
  	<alias name="defaultOrderPaymentDataRequestConverter" alias="orderPaymentDataRequestConverter"/>
  	<bean name="defaultOrderPaymentDataRequestConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.commerce.facade.data.OrderPaymentData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="orderPaymentDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
  	
  	<alias name="defaultProductDataRequestPopulator" alias="productDataRequestPopulator"/>
  	<bean name="defaultProductDataRequestPopulator" class="com.serpics.jaxrs.data.converter.ProductDataRequestConverter">
    </bean>
  	<alias name="defaultProductDataRequestConverter" alias="productDataRequestConverter"/>
  	<bean name="defaultProductDataRequestConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.catalog.facade.data.ProductData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="productDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
  	
  	 <alias name="defaultUserDataRequestPopulator" alias="userDataRequestPopulator"/>
  	<bean name="defaultUserDataRequestPopulator" class="com.serpics.jaxrs.data.converter.UserDataRequestConverter">
    </bean>
  	<alias name="defaultUserDataRequestConverter" alias="userDataRequestConverter"/>
  	<bean name="defaultUserDataRequestConverter" parent="abstractConverter">
  		<property name="targetClass" value="com.serpics.membership.facade.data.UserData"/>
  		<property name="populators">
	  		<list>
	  			<ref bean="userDataRequestPopulator"/>	
	  		</list>
  		</property>
  	</bean>
  	

   <jaxrs:server id="services" address="/">
 	 
 	 <jaxrs:features>
    	 <cxf:logging/>
	</jaxrs:features>
    <jaxrs:serviceBeans>
      <bean class="com.serpics.jaxrs.CustomerServiceImpl" />
      <bean class="com.serpics.jaxrs.TestRestServiceImpl"/>
      <bean class="com.serpics.jaxrs.CartRestServiceImpl" />
      <bean class="com.serpics.jaxrs.ProductRestServiceImpl" />
      <bean class="com.serpics.jaxrs.CategoryRestServiceImpl" />
      <bean class="com.serpics.jaxrs.BrandRestServiceImpl" />
      <bean class="com.serpics.jaxrs.OrderRestServiceImpl" />
    </jaxrs:serviceBeans>
   
   
  <jaxrs:extensionMappings>
  	<entry key="json" value="application/json"/>
  </jaxrs:extensionMappings>
   <jaxrs:providers>
 	  	<bean class="com.serpics.jaxrs.AuthenticationHandler" />
<!--  	  	<bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider"/> -->
<!--        <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/> -->
       <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
      		 <property name="mapper" ref="mapper"/>
       </bean>
    </jaxrs:providers>
    </jaxrs:server>

	<jaxrs:server id="auth" address="/auth">
 	 <jaxrs:features>
    	 <cxf:logging/>
	</jaxrs:features>
    <jaxrs:serviceBeans>
   	   <bean class="com.serpics.jaxrs.AuthenticationServiceImpl" />
    </jaxrs:serviceBeans>
   
   
  <jaxrs:extensionMappings>
  	<entry key="json" value="application/json"/>
  </jaxrs:extensionMappings>
   <jaxrs:providers>
<!--  	  	<bean class="com.serpics.jaxrs.AuthenticationHandler" /> -->
<!--  	  	<bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider"/> -->
<!--        <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/> -->
       <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
      		 <property name="mapper" ref="mapper"/>
       </bean>
    </jaxrs:providers>
    </jaxrs:server>


</beans>
