	<div >
		<h4>code</h4>
		<ul>
			<li ng-repeat="data in brand">{{ data.name }}</li>
		</ul>
	</div>
	
	<div style="margin-left: 100%;">
	<h4>id</h4>
		<ul>
			<li ng-repeat="data in brand">{{ data.id }}</li>
		</ul>
	</div>	
	<div style="margin-left: 200%;width: 120%;">
	<h4>uuid</h4>
		<ul>
			<li ng-repeat="data in brand">{{ data.uuid }}</li>
		</ul>
	</div>	
	<div style="margin-left: 300%;width: 120%;">
	<h4>updated</h4>
		<ul>
			<li ng-repeat="data in brand">{{ data.updated }}</li>
		</ul>
	</div>




