<!DOCTYPE html>
<html ng-app="serpicsRestAPP">
<head ng-controller="serpicsController">
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-cookies.js"></script>
<script src="angularjs/service.js"></script>
<script src="angularjs/controller.js"></script>
<script src="angularjs/serpicsApp.js"></script>
<script src="angularjs/directive.js"></script>
<title>Angular Front-End</title>
<style>
div {
	width: 25%;
	position: absolute;
}

h4 {
	margin-left: 30px;
}
</style>
</head>
<body>
	<div ng-controller="categoryController">
		<input type="button" value="get category" ng-click="getTop()" />
		<category-directive></category-directive>
	</div>
	<div style="margin-top: 20%;" ng-controller="brandController">
		<input type="button" value="get brand" ng-click="getBrand()" />
		<brand-directive></brand-directive>
	</div>

</body>
</html>